html,body{
                 margin: 0;
                 padding: 0;
                 font-family: 'Roboto', sans-serif;
                 background-color: rgb(18, 32, 160);
}

.card-front{
                 background-color: rgb(255, 255, 255);
                 width: 30%;
                 height: 40%;
                 margin-top: 4%;
                overflow: hidden;
                 margin-left: 30%;
                 position: absolute;
}

.card-back{
                 background-color: rgb(255, 255, 255);
                 width: 30%;
                 height: 40%;
                 margin-top: 25%;
                overflow: hidden;
                 margin-left: 30%;
                 position: absolute;
                 display: flex;
                 flex-direction: row;
}


.bottomblack{
                 background-color: black;
                 width: 70%;
                 height: 14%;
                 margin-top: 13%;
                 margin-left: -4%;
                position: absolute;
                 transform: skew(40deg);           
}


.bottomyellow{
                 background-color: rgb(202, 202, 14);
                 width: 55%;
                 height: 11%;
                 margin-top: 19%;
                 margin-left: 48%;
                 transform: skew(40deg);          
}


h4{
                 margin-top: -2%;
                 margin-left: 36%;
              
}

h1{
                 margin-top: -1%;
                
                 margin-left: 4%;
              text-align: center;
                 text-transform: uppercase;
                 
}

.card-front img{
   width: 130px;
   height: 80px;
   align-content: center;
   margin-top: 10%;
   margin-left:40%;
}

.backleft img{
               
                 width: 130px;
                 height: 80px;
                 align-content: center;
                 margin-top: 50%;
                 margin-left:30%;
}

.backleft{
                                  width: 50%;
                                  text-align: left;
                                  align-content: left;
                                  align-self: baseline;
                 
                 }

                 .backleft img{
                                  margin-left: 3+0%;
                 }

.backright{
                 width: 50%;
                 margin-top: 40px;
                 display: flex;
                 justify-content: space-between;
                 flex-direction: column;
                 height: 60%;
                 font-weight: 800;
}

.backleft img{
                 margin-top: 10%;
                 margin-left: 30%;
}

h2{
                 text-align: center;
                 text-transform: uppercase;
                 /* margin-top: -6%; */
                 /* position: absolute; */
}
p{
                 text-align: center;
                   /* margin-top: 3%; */
                   font-size: 0.2px;
}

.name{
   text-align: center;
   width: 290px;
}

.name h6{
   margin-top: -18px;

}

.call{
   height: 100px;
   margin-top: 5px;
   display: inline;
   /* width: 210px; */
}

h5{
   margin-top: -20px;
   margin-left: 65px;
}

.backbottomblack{
   background-color: black;
   width: 50%;
   height: 26%;
   margin-top: 47%;
   margin-left: -5%;
   position: absolute;
   transform: skew(8deg);           
}

.backbottomyellow{
   background-color: rgb(202, 202, 14);
   width: 63%;
   height: 14.5%;
   margin-top: 54%;
   margin-left: 41%;
   transform: skew(40deg);
   position: absolute;
}

.triangle{  
   margin-top: 47%;
   margin-left: 37%;        
      border-bottom: 40px solid rgb(233, 236, 31);
      border-right: 40px solid transparent;
      border-left: 40px solid transparent; 
      position: absolute; 
      z-index: 2;
    }
    
